h1{
    font-family: 'Monsterrat';
    text-align: center;
    color: white;
    
}
video{
    margin-left: 5em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
}
// #section1 .fp-bg{
//     background-image: url('imgs/alvaro-genious.jpg');
//     background-size: cover;
//     background-position: center 80%;
// }

}
.s1{
    background: url('https://images.unsplash.com/photo-1601736045776-a9e675dd6264?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQ1fHFQWXNEenZKT1ljfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    h1{
        text-align:  left;
        margin-left: 1em;
        font-size: 4rem;

    }
    .s1s2{
        background: url('https://images.pexels.com/photos/663487/pexels-photo-663487.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    }
    
}
.s2{
    background: url('https://images.unsplash.com/photo-1575769812297-262bfa4d221f?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDc3fHFQWXNEenZKT1ljfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-size: cover;

    h1{
        text-align:  left;
        margin-inline-start: 2em;
        font-size: 4rem;

    }
    h2{}
}
.s3{
    background: url('https://images.unsplash.com/photo-1624447461578-c9732a134c69?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI3NHxxUFlzRHp2Sk9ZY3x8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    h1{
        text-align:  left;
        margin-left: 1px;
        font-size: 4rem;

    }
}

.s4{
    background:url('https://images.unsplash.com/photo-1617999904549-efcb2671e94c?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI4MHxxUFlzRHp2Sk9ZY3x8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    h1{
        text-align:  left;
        margin-left: 5em;
        font-size: 4rem;

    }
    .lastslide{
        text-align: left;
        margin-left: 8em;
        font-size: 4rem;
    }
}
span {
    background: white !important;
    height: 20px;
    // color: #f2f2f2;
    // position: fixed;
    // z-index: 70;
    // bottom: 0;
    // width: 100%;
    // text-align: right;
    // font-size: 0.9em;
    // padding: 8px 0 8px 0;
       
    }


.fp-slidesNav.fp-bottom{
    margin-right: 40em !important;
    
}

.slide{
    text-align: left;
    margin-left: 20em;
    font-size:4rem;

}

#textspecial{
    text-align: left;

}